<div class="voter-thanks-fill bg-parallax bg-skill" style="background-image: url(/assets/bg-service.jpg);">
  <div class="fill-wrapper">
      <div class="section-title">
          <h2 class="white animated fadeInDown" data-effect="fadeInDown">THANK YOU FOR VOTING!</h2>
          <hr class="title-break">
      </div>
    </div>

</div>


