#poll {
    text-align: center;
}

img[src*="filepicker"] {
    margin: 0 12px 12px 12px;
    border: 2px solid #25292c;
    border-radius: 3px;
}

hr.title-break {
    margin: 40px auto 50px auto;
}

.opt-btn {
    margin: 0 12px 12px 12px;
    padding: 5px 15px;
    background-color: #5bc0de;
    border: 2px solid #46b8da;
    border-radius: 3px;
    width: 404px;
}

.opt-txt {
    font-size: 22px;
    font-weight: 300;
    color: #FFF; 
}

.opt-txt label {
    margin: 0;
}

div .vote-button {
    margin: 50px auto 0 auto;
}

div#countdownClock{
    margin: 50px;
}