<div class="first_timer">
  <div class="section-title">
    <h2 class="animatez" data-effect="fadeInDown">Decisions are meant to be made</h2>
    <h4 class="subtitle animatez" data-effect="fadeInUp">
    <%=link_to "Create Your First Poll!", new_poll_path%>
    </h4>
  </div>
  <hr class="title-break">
</div>