<h2>Your Polls</h2>
<p>Click on a poll to view results!</p>
<% @polls.each do |poll| %>
    <p><%= link_to poll.question, result_path(poll.id) %></p>
    <%= button_to 'Delete poll', destroy_poll_path(poll) ,method: :delete %>
<% end %>
