<h1>The Results are in!</h1>

Question: <%= @poll.question %><br>
<% @poll.options.each do |option| %>
<%= option.answer %> votes: <%= option.votes %><br>
<% end %>

The winner is: <%=@poll.winner%>!


