<p>Hi <%=@user.name.capitalize%>!</p>
<p>The results for your poll, <b><%=@poll.question%></b> are in!</p>
<p><a href="http://localhost:3000<%= result_path(@poll) %>">Click here to see your results!</a></p>