<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <div class="content-home-wrapper text-center">
        <div class="header-center fade-in">
            <h2>In a</h2>
            <h1 style="color:green;">PICKL ?</h1>
            <h3>Your friends have
            <span class="main-color">answers</span></h3>
            <p><a class="sscroll slider-more" href="/users/sign_up"><i class="fa fa-user home-icon"></i></a>
            </p>
        </div>
    </div>

