 <!-- BEGIN SLIDER ONE -->
        <div class="home-wrapper" id="top">
            <div class="content-home-wrapper text-center">
                <div class="header-center fade-in">
                    <h1><span>FRANKLY</span></h1>
                    <h3>We have some
                    <span class="main-color">answers</span>&nbsp;for you</h3>
                    <p><a class="sscroll slider-more" href="#about"><i class="fa fa-angle-down"></i></a>
                    </p>
                </div>
            </div>
            <div class="fullfilter"></div>
            <div class="home-image" data-src="images/bg-static.jpg"></div>
        </div>
        <!-- END SLIDER ONE -->